@model IEnumerable<WebApp_KetNoiViecLam.Models.Service>

@{
    ViewData["Title"] = "Dịch vụ";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Quản lý dịch vụ</h1>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Category)</th>
            <th>@Html.DisplayNameFor(model => model.ServiceTitle)</th>
            <th>@Html.DisplayNameFor(model => model.ServiceDes)</th>
            <th>@Html.DisplayNameFor(model => model.Skill)</th>
            <th>@Html.DisplayNameFor(model => model.DateCreated)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>@Html.DisplayNameFor(model => model.User)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Category.CatName)</td>
                <td>@Html.DisplayFor(modelItem => item.ServiceTitle)</td>
                <td>@Html.DisplayFor(modelItem => item.ServiceDes)</td>
                <td>@Html.DisplayFor(modelItem => item.Skill.SkillName)</td>
                <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>@Html.DisplayFor(modelItem => item.User.Email)</td>
                <td>
                    <form asp-action="ToggleStatus" asp-route-id="@item.ServiceId" method="post">
                        <button type="submit" class="btn btn-primary">Chuyển đổi trạng thái</button>
                    </form>
                    <a asp-action="Details1" asp-route-id="@item.ServiceId" class="btn btn-info">Xem Thông tin</a>

                    @using (Html.BeginForm("ChangeStatusToKhongPheDuyet", "Services", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@item.ServiceId" />
                        <button type="submit" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Không Phê Duyệt">Không phê duyệt</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
